---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout>
  <section>
    <article>
      <div class="headings">
        <h1>What am I doing Now?</h1>
        <h2>Last update December 2023 🎄</h2>
      </div>
      <p>
        This is a <a
          href="https://nownownow.com/about"
          target="_blank"
          rel="noopener noreferrer">Now page</a
        >, inspired by <a
          href="https://sivers.org"
          target="_blank"
          rel="noopener noreferrer"
        >
          Derek Sivers</a
        >. You should create one too!
      </p>
      <hr />
      <h3>Occupation</h3>
      <p>
        Currently I am working as senior Web editor in Henkel. I have been
        working there for a little more then a year now. I am also working on
        developer projects, which are outside of the scope of my occupation, but
        are helpful in the long run.
      </p>
      <h3>University</h3>
      <p>
        In september I am starting my final year of university. So I thorouly
        working on my thesis, which is kind of related to my working experience.
        It is about <i>Software support in software develpment</i>.
      </p>
      <h3>Development</h3>
      <p>
        Apart from university I am learning on
        <a
          href="http://codecademy.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i>Codecademy</i></a
        >
         . Right now, I am learning
        <a
          href="https://www.codecademy.com/learn/paths/full-stack-engineer-career-path"
          target="_blank"
          rel="noopener noreferrer"
        >
          Full-Stack Engineering</a
        >
         Course.
      </p>
      <h3>What am I reading?</h3>
      <p>
        I like to read non-fiction literature. Currently I am reading
        <a
          href="https://www.google.com/books/edition/Deep_Work/lZpFCgAAQBAJ?hl=sk&gbpv=0"
          target="_blank"
          rel="noopener noreferrer"><i> Deep Work</i></a
        >.
      </p>
    </article>
  </section>
</BaseLayout>

<style>
  article {
    margin-block: 0px;
  }
</style>
