<header>
  <nav class="container">
    <ul>
      <li><h4>Now | Peter Kudeláš</h4></li>
    </ul>
    <ul>
      <li>
        <a
          href="https://www.peterkudelas.eu"
          rel="nofollow"
          role="button">Home Page</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding-block: 0px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--muted-border-color);
  }

  h4 {
    margin: 0px;
  }
  a {
    width: max-content;
  }
</style>
