---
import * as config from "../config";
import "@picocss/pico";
import { Header, Footer, Seo } from "../components";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Seo
      title={config.title}
      url={config.url}
      description={config.description}
    />
  </head>
  <body class="container-fluid">
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .container {
    max-width:  1024px ;
  }
</style>